LOCATE COMP "clk" SITE "P3";
IOBUFFER PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

LOCATE COMP "rst_n" SITE "J18";
IOBUFFER PORT "rst_n" IO_TYPE=LVCMOS33;

LOCATE COMP "uo_out[0]" SITE "J16";
IOBUFFER PORT "uo_out[0]" IO_TYPE=LVCMOS33;