LOCATE COMP "clk" SITE "P3";
IOBUFFER PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

LOCATE COMP "rst_n" SITE "J18";
IOBUFFER PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=UP;

# UART TX
LOCATE COMP "uo_out[1]" SITE "J16";
IOBUFFER PORT "uo_out[1]" IO_TYPE=LVCMOS33;

# UART RX
LOCATE COMP "ui_in[7]" SITE "L5";
IOBUFFER PORT "ui_in[7]" IO_TYPE=LVCMOS33 PULLMODE=UP;

# LED
LOCATE COMP "uo_out[7]" SITE "L2";
IOBUFFER PORT "uo_out[7]" IO_TYPE=LVCMOS33;

# ANALISADOR LOGICO
# LOCATE COMP "uo_out_AL" SITE "J16";
# IOBUFFER PORT "uo_out_AL" IO_TYPE=LVCMOS33;